<!DOCTYPE html>
<html>
<head>
    <title>Sync</title>
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style/style.css"/>
    <script type="text/javascript" src="script/lib/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="script/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="script/src/service/appService.js"></script>
    <script type="text/javascript" src="script/src/directive/appDirective.js"></script>
    <script type="text/javascript" src="script/src/app.js"></script>
    <style type="text/css">
        body{
            -webkit-user-select:none;
        }
        .md_navbar{
            -webkit-app-region:drag;
        }
    </style>
</head>
<body ng-app="syncApp" ng-controller="ListCtrl"  style="">
    <header class="md_navbar" role="banner">
        <h1 class="logo">Sync</h1>
        <div class="btn_cont">
            <a href="#" class="glyphicon glyphicon-minus btn_min" ng-click="windowMin()"></a>
            <!--<a href="#" class="glyphicon glyphicon-plus btn_max"></a>-->
            <a href="" class="glyphicon glyphicon-remove btn_close" ng-click="windowClose()"></a>
        </div>
    </header>
    <div class="md_main_cont" ng-class="{ md_main_cont_slidein : slideIn }">
        <div class="md_prompt" ng-show="syncData.length==0" >
            <p>No folders to sync!! ADD NEW ?</p>
        </div>
        <div class="md_sync_item" ng-repeat="data in syncData track by $index">
            <div class="sync_item_main">
                <input type="text" class="sync_folder sync_folder_l" ng-model="data.syncedfolder" ng-readonly="true"
                        file-input="syncedfolder" placeholder="watch folder" ng-required="true"
                        ng-class="{ input_warning :  data.syncedfolder == '' }" />
                <a href="#"
                   class="glyphicon glyphicon-refresh btn_switch" ng-class="{'dis': data.disabled }"
                   ng-click="toggleDisabled(data);"
                ></a>
                <input type="text" class="sync_folder sync_folder_r" ng-model="data.syncfolder" ng-readonly="true"
                       file-input="syncfolder" placeholder="sync folder" ng-required="true"
                       ng-class="{ input_warning :  data.syncedfolder == '' }" />
                <a href="#" class="glyphicon glyphicon-remove btn_delete" ng-click="dellData($index);" title="delete"></a>
            </div>
        </div>
    </div>
    <div class="md_bottom_cont">
        <!--<a class="btn" href="#">Add</a>-->
        <a type="button" class="btn btn-success btn_add" ng-click="addData();"
                ng-disabled="cheakDisable()"
                ng-class="{ 'dis' : cheakDisable() , btn_add_hover : syncData.length==0 }"
                >Add New<i><i></i></i>s</a>
    </div>
</body>
</html>